body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

// TODO: replace with variable colors
::selection {
  background-color: $action-color;
  color: $white;
}

// NOTE: for sticky footer
.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

.action-buttons {
  a {
    margin: 1px;
    float: right;
  }
}
