body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

// TODO: replace with variable colors
::selection {
  background-color: #6ab344;
  color: #fff;
}

// TODO NOTE: for sticky footer
.mdl-layout__content {
  display: flex;
  flex-direction: column;
}

// TODO: header here
.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: black;
}
