.spree-products-show {
  .main-image {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .thumbnails {
    li {
      margin: 2px;
      padding: $small-spacing;
      border: $base-border;
    }
  }

  .properties {
    width: 100%;
  }
}
