.spree-checkout {
  .progress-steps {
    display: flex;
    justify-content: space-around;

    li {
      padding: 0 5px;
    }
    li.current, li.current-first {
      border-bottom: 4px solid $action-color;
    }
  }
}
