.banner {
  margin-top: $base-spacing;
  max-width: 1200px;
  background: linear-gradient(30deg, red, black);

  .content {
    max-width: 900px;
    padding: 0;
  }

  .moto,
  .tel {
    float: right;
    clear: right;
    color: $white;
  }

  .moto {
    margin: 0;
  }

  .tel {
    margin: 0;
  }
}

@media (max-width: 840px) {
  .banner {
    display: none;
  }
}
