.android-drawer {
  width: 380px;
  left: -250px;
}

.android-drawer.is-visible {
  left: 0;
}

.android-drawer .mdl-layout-title {
  margin-top: 10px;
  margin-bottom: -10px;
  padding-left: 15px;
}

.android-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 5px 0;
}

.android-drawer .taxonomy-root {
  text-transform: uppercase;
  padding: 0 15px;
  margin-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.android-drawer .mdl-navigation .mdl-navigation__link {
  padding: 5px 30px;
}

.android-drawer .material-icons {
  float: right;
  color: $action-color;
}

.android-drawer .cart {
  display: inline-block;
  float: right;
}

.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s $base-timing;
}

.submenu.is-visible {
  display: block;
  max-height: 1000px;
}
