// TODO: change colors
.flash {
  margin: 0 auto;
  color: white;
  padding: $base-spacing;
  border-radius: $base-border-radius;
}

.flash.error {
  background-color: red;
}

.flash.succes {
  background-color: #8BC34A;
}
