// TODO: change colors
.flash {
  margin: 0 auto;
  color: $white;
  padding: $base-spacing;
  border-radius: $base-border-radius;
}

.flash.error, .flash.registration_error {
  border: 1px solid $red;
  color: $red;
}

.flash.success {
  border: 1px solid $green;
  color: $green;
}

.flash.notice {
  background-color: $action-color;
  color: $white;
}
