.mdl-cell.mdl-cell--9-col.mdl-cell--12-col-tablet class="#{'action' if taxon_breadcrumbs(@taxon).present?}"
  = taxon_breadcrumbs(@taxon) if defined?(taxon_breadcrumbs)

.mdl-cell.mdl-cell--3-col.mdl-cell--12-col-tablet.action-buttons
  = yield :actions
