.mdl-cell.mdl-cell--9-col class="#{'action' if taxon_breadcrumbs(@taxon).present?}"
  = taxon_breadcrumbs(@taxon) if defined?(taxon_breadcrumbs)

.mdl-cell.mdl-cell--3-col.action-buttons
  = yield :actions
