/- content_for :sidebar do
/  div data-hook="homepage_sidebar_navigation"
/    = render partial: "spree/shared/taxonomies"

/- cache(cache_key_for_products) do
/  = render partial: "spree/shared/products", locals: { products: @products }

/- content_for :banner do
/  = render "banner"

.mdl-cell.mdl-cell--12-col
  .mdl-grid
    - Spree::Taxonomy.includes(root: :children).each do |taxonomy|
      = render "spree/home/tool_card", taxonomy: taxonomy
